html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#face{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50vw;
}

#read{
    position: absolute;
    width: 15vw;
    height: 15vw;
    right: 0;bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

#shop{
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 0;bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    z-index: 100;
}

#settings{
    position: absolute;
    width: 15vw;
    height: 15vw;
    right: 0;top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

#hunger{
    background: blue;
    border-radius: 100px;
    height: 6px;
    width: 40%;
    position: absolute;
    left: 30%;
    background: transparent;
    bottom: 30px;
}

#name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vw;
    font-size: 7vw;
    position: absolute;
    top: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

progress::-webkit-progress-bar {
    background-color: rgb(228, 212, 202);border-radius: 6px;
 }
 progress::-webkit-progress-value {
    background-color: rgb(192, 122, 69);border-radius: 6px;
 }

#shopTab{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    pointer-events: none;
    opacity: 0;
}


#card{
    background-color: rgb(243, 243, 243);
    color: white;
    width: 100%;
    height: 100px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards{
    width: 100%;
    display: grid;
    gap: 3px;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


::-webkit-scrollbar {
    width: 7px;
    background-color: white;
    box-shadow: inset 0 0 2px #6d6d6d;
}
  
  ::-webkit-scrollbar-track {

    border-radius: 10px;
}
  ::-webkit-scrollbar-thumb {
    background: #B6B6B6;
    border-radius: 10px;
}

#cost{
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
}

#food{
    font-size: 20px;
}

#money{
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#readingTab{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    pointer-events: none;
    opacity: 0;
}

#numbers{
    outline: none;
    border-radius: 0;
    border: 1px solid grey;
    width: 20%;
    position: absolute;
    left: 40%;
    height: 10%;
    top: 45%;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
}

#title1{
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#done{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: absolute;
    background-color: #027AFE;
    color:white;
    font-weight: bold;
    width: 10%;
    left: 45%;
    top: 60%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
#done:active{
    background-color: #0f66c3;
}
